@model IEnumerable<FyJCel.Models.Producto>

<!-- bootstrap Navbar  !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--
<h2>Lista Productos</h2>
!-->
<style>
* {
  box-sizing: border-box;
}

.zoom {
  padding: 50px;
  background-color: white;
  transition: transform .2s;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
</style>

<script language='JavaScript'>
    function Buscar(){
        var txt = document.getElementById("txtBuscar").value;

        if(txt == "" ){
            alert("Por favor ingrese un texto para buscar");
        }
        else{
            window.location.href = "/Producto/Buscar?texto=" + txt;
        }      
    }

     function agente()
        {
          window.open("/images/chatbot5.html", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        }

    function producto(){
        window.open("http://localhost:52330/Views/Producto/productos.html", "ventana1", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
    }
              
</script>

<form asp-action="ProductosSelect" method="post">
<table border="1" width="1100">
    <tr>
        <!-- <td width="200">Logo EASYMARKET</td> -->
        <td wisth="900">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!--<form class="form-inline" action="/action_page.php">-->
                    <input width="700" name="txtBuscar" id="txtBuscar" class="form-control mr-sm-2" type="text" placeholder="Search">
                    <a href="javascript:Buscar()"  class="btn btn-success">Search</a>&nbsp
                    <button type="submit"  class="btn btn-primary" >Agregar</button>
                    <img src="/images/chat.png" class="img-responsive" alt="Responsive image" width="75" height="40" onclick="javascript:agente()" >
               <!-- </form>-->
            </nav>
        </td>
    </tr>
</table>

<br>

@{
    if(ViewBag.mensajeGrabar != null)
    {
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>@ViewBag.mensajeGrabar</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    }
}


<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <!-- <th scope="col">
                    #
                </th> -->
                <th scope="col">
                   Imagen del Producto <!--@Html.DisplayNameFor(model => model.prod_imagen)-->
                </th>

                <th scope="col">
                    Detalles <!--@Html.DisplayNameFor(model => model.prod_detalle)-->
                </th>
                <th scope="col">
                    Precio <!--@Html.DisplayNameFor(model => model.prod_precio)-->
                </th>
                <th scope="col">Sel.</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model)
{
        <tr>
            <td class="zoom">
 				<img src="@Html.DisplayFor(modelItem => item.prod_imagen)"  width="350" height="200">
            </td>
            <td>
                <strong >
                    <!-- <input type="" name="@Html.DisplayFor(modelItem => item.ID)" id="hdnNumeros">-->
                    <a href="javascript:producto()" style="color: black;">@Html.DisplayFor(modelItem => item.prod_nombre) </a>
                    
                    
                </strong>
                <p><br><textarea disabled cols="75" rows="6" style="resize: none; border-style: none;">@Html.DisplayFor(modelItem => item.prod_detalle)</textarea> </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prod_precio)
            </td>
            
            <td width="50"><input type="checkbox" name="productids" value="@item.ID"> 
            </td>
                    
        </tr>
}        
    </tbody>
</table>
</form>
@if(ViewBag.Message!=null){
            <script type="text/javascript">
                window.onload = function(){
                    alert("@ViewBag.Message");
                };
            </script>
}

